{{- with .Site.Params.favicon.color }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{"apple-touch-icon.png" | relURL}}">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/855124271013691433/863673813978579004/Webp.net-resizeimage.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.discordapp.com/attachments/855124271013691433/863673809545592852/Webp.net-resizeimage1.png">
    <link rel="manifest" href="{{"site.webmanifest" | relURL}}">
    <link rel="mask-icon" href="{{"safari-pinned-tab.svg" | relURL}}" color="{{.mask}}">
    <link rel="shortcut icon" href="{{"favicon.ico" | relURL}}">
    <meta name="msapplication-TileColor" content="{{.msapplication}}">
    <meta name="theme-color" content="{{.theme}}">
{{ end }}
