{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
        
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
              <div class="container">
                <button type="submit" class="outline" <i class='fas fa-donate'></i>Donate</button>
              </div>
             <p class="new">
                <a href="https://google.com">
                  <i class='fas fa-donate'></i>
                  {{- i18n "Donate" -}}
                </a>
                <a href="{{ "projects" | absLangURL }}">
                  <i class='far fa-folder-open'></i>
                  {{- i18n "Projects" -}}
                </a>
            </p>														  
    </main>
{{ end }}
